.header-navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 6rem;
    margin: 0 auto;
    color: $white;
    background: transparent;

    &__main {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .8rem 0;
    }

    .header-list {
        display: block;
        @mixin atMedium {
            display: none;
        }
        ul {
            display: flex;
            justify-content: space-between;
            width: 15rem;
    
            li {
                list-style: none;
                font-size: $base-font;
            }
        }
    }


    .header-border {
        height: 1px;
        width: 100%;
        background: $white;
    }

    .hamburger {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $white;
        position: relative;
        display: none;
        @mixin atMedium {
            display: block;
        }

        .bar {
            width: 20px;
            height: 1.5px;
            background: #000;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &:nth-child(1) {
                top: 40%;
            }
            &:nth-child(2) {
                top: 60%;
            }
        }
    }
}